.shop-detail__container {
    display: flex;
    justify-content: space-between;
    /* 子要素の間にスペースを入れる */
    align-items: flex-start;
    /* 子要素を上揃えにする */
    padding: 20px;
    /* コンテナの内側の余白を追加 */
}

.shop-detail__content {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    margin-right: 20px;
}

.shop-detail__selected-shop-details {
    width: 48%;
    /* 2つの要素が横並びに表示されるように幅を調整 */
    padding: 20px;
    /* 内側の余白を追加 */
}

.shop-detail__reservation-form {
    position: relative;
    width: 48%;
    color: #fff;
    background-color: #4455d9;
    padding: 20px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: -90px;
    padding-bottom: 60px;
}

.shop-detail__selected-shop-details img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.shop-detail__tag{
    display: flex;
}

.shop-detail__tag p{
    margin-right: 10px;
}

.shop-detail__form-group {
    margin-bottom: 15px;
    /* フォームグループの下に余白を追加 */
}

.shop-detail__reservation-form-title{
    font-weight: bold;
}

.shop-detail__form-group input,select{
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.shop-detail__input-date{
    width: 45%;
}

.shop-detail__input-time,
.shop-detail__select-number{
    width: 100%;
    height: 33px;
    background-image: url('https://rese-aws-bucket.s3.ap-northeast-1.amazonaws.com/image/select-button.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    padding: 0 25px 0 10px;
    background-position: right 10px top 50%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.shop-detail__input-time::-webkit-calendar-picker-indicator {
    display: none;
}

.shop-detail__reservation-button {
    position: absolute;
    bottom: 0;
        /* 親要素の下端に配置 */
    left: 0;
        /* 左端に配置 */
    width: 100%;
    background-color: #041ede;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.shop-detail__reservation-button:hover {
    background-color: #45a049;
    /* ボタンのホバー時の背景色 */
}

.shop-detail__reservation-status {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #6572d4;
}

.shop-detail__reservation-status-title {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.shop-detail__reservation-status {
    width: 90%;
    border-collapse: collapse;
    margin: 20px 0;
}

.shop-detail__reservation-status-item {
    padding: 10px 0 10px 30px;
    text-align: left;
}

.shop-detail__alert-success{
    color: #fff;
    font-size: 15px;
    background-color: rgb(245, 70, 70);
    padding: 10px;
    text-align: center;
}

.shop-detail__error-message{
    display: block;
    color: #fff;
    font-size: 12px;
    background-color: rgb(245, 70, 70);
    margin-top: 0;
}

.shop-detail__nav-buttons {
    display: flex;
    margin-bottom: 25px;
}

.shop-detail__nav-button {
    background-color: #fff;
    color: black;
    font-size: 18px;
    padding: 0 10px;
    text-decoration: none;
    border-radius: 0.3rem;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.shop-detail__nav-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.shop-detail__name-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.shop-detail__name {
    margin: 0 10px;
    text-align: center;
}

.shop-detail__finalize-button{
    padding: 10px 30px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}

.btn-secondary{
    text-decoration: none;
    background-color: darkgrey;
    padding: 10px 30px;
    color: unset;
}

@media screen and (max-width: 768px) {
    .shop-detail__tag {
        font-size: 13px
    }

    .shop-detail__input-date {
        width: 80%;
    }

    .shop-detail__container {
        padding: 0;
}

    .shop-detail__content {
        padding: 0;
        gap: 10px;
    }

    .shop-detail__reservation-form {
        margin-top: -50px;
    }

    .shop-detail__form-group input,select {
        font-size: 12px;
    }

    .shop-detail__reservation-status {
        width: 100%;
        font-size: 13px;
    }

    .shop-detail__reservation-status-item {
        padding: 5px 0 10px 10px;
    }

    .shop-detail__info{
        font-size: 15px;
    }

    .shop-detail__alert-success {
        font-size: 10px;
    }

}

@media screen and (max-width: 480px) {
    .shop-detail__name{
    font-size: 16px;
    }

    .shop-detail__tag {
        font-size: 10px
    }

    .shop-detail__info{
        font-size: 13px;
    }

    .shop-detail__input-date {
        width: 100%;
    }

    .shop-detail__container{
        padding: 0;
    }

    .shop-detail__content{
        padding: 0;
        gap: 10px;
        margin: 0;
    }

    .shop-detail__selected-shop-details {
        padding: 5px;
            /* 内側の余白を追加 */
    }
    .shop-detail__reservation-form {
        padding: 5px;
        padding-bottom: 50px;
        margin-top: -50px;
    }

    .shop-detail__form-group input,select {
    font-size: 10px;
    }

    .shop-detail__reservation-form-title {
        margin: 5px 5px;
        font-size: 13px;
    }

    .shop-detail__alert-success {
        font-size: 8px;
    }

    .shop-detail__reservation-status {
        font-size: 10px;
    }

    .shop-detail__reservation-status-item {
        padding: 5px 0 5px 10px;
    }

    .shop-detail__finalize-button {
        padding: 5px 30px;
        margin-bottom: 20px;
        font-size: 10px;
    }

    .btn-secondary {
        padding: 5px 30px;
        font-size: 10px;
    }

    .shop-detail__reservation-button{
        font-size: 10px;
    }

}
