.mypage__container {
    padding: 0 50px;
}

.mypage__heading {
    font-size: 24px;
    text-align: center;
}

.mypage-content__title{
    font-size: 20px;
    font-weight: bold;
}

.status-message{
    position: absolute;
    top: 120px;
    background-color: #dd6a6a;
    color: #fff;
    padding: 10px;
}

/*予約状況*/
.mypage__reservation-status table {
    border-collapse: collapse;
}

.reservation-item {
    padding: 10px;
    font-size: 13px;

}

.btn-primary{
    cursor: pointer;
    background-color: white;
    padding: 5px;
}

/*お気に入り店舗*/
.mypage__content {
    display: flex;
    justify-content: space-between;
}
.mypage__reservation-status {
    width: 40%;
    box-sizing: border-box;
}

.mypage__favorite-shops {
    width: 55%;
    box-sizing: border-box;
}

.mypage__favorite-shops {
    display: flex;
    flex-wrap: wrap;
}

.mypage__favorite-shop__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.mypage__favorite-shop__item {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 5px;
}

.mypage__favorite-shop__image img {
    width: 100%;
    object-fit: cover;
}

.mypage__favorite-shop__content {
    font-size: 13px;
    padding: 16px;
    background-color: #fff;
}

.mypage__favorite-shop__name{
    margin: 0;
}

.mypage__favorite-shop__tag {
    display: flex;
    line-height: 1;
}

.mypage__favorite-shop__area{
    margin-right: 10px;
}

.mypage__favorite-shop__details-with-favorite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.mypage__favorite-shop__detail-link {
    background: rgb(66, 101, 240);
    color: white;
    border-radius: 5px;
    border: rgb(66, 101, 240);
    padding: 8px 10px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.mypage__favorite-shop__favorite-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.shop-container__favorite-button--red {
    color: red;
    font-size: 2.0em;
}

.shop-container__favorite-button--gray {
    color: gray;
    font-size: 2.0em;
}

/*モーダルウインドウ*/
.reservation-item .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 45%;
    height: 100%;
    background-color: unset;
    padding-top: 200px;
    overflow: auto;
}

.modal-content {
    background-color: #4455d9;
    color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal__reservation-title{
    margin-left: 30px;
    margin-top: 0;
    padding: 5px;
}

.shop-detail__reservation-status{
    margin-bottom: 20px;
}

.mypage__reservation-status th,
.mypage__reservation-status td {
    padding: 8px;
    border: none;
    text-align: left;
}

.reservation__change-form{
    line-height: 2;
}

.update-form {
    margin-bottom: 10px;
    background-color: darkgray;
    padding: 10px;
    border-radius: 5px;
}

.close {
    color: #fff;
    float: right;
    font-size: 16px;
    position: relative;
    top: -60px;
    padding: 1px 4px;
    border: 1.5px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    line-height: 1;

}

.btn-danger {
    width: 100%;
    margin-bottom: 20px;
    background-color: #040d64;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.btn-primary {
    width: 100%;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.toggle-reservation {
    display: none;
}

.toggle-reservation:checked+.modal {
    display: block;
    cursor: pointer;
}

.modal-icon_clock {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('https://rese-aws-bucket.s3.ap-northeast-1.amazonaws.com/image/clock.svg');
    background-size: contain;
    border: none;
    background-repeat: no-repeat;
    transform: translate(-40%);
}

/* 評価とコメントの追加フォームのスタイル */

.mypage__rating-form {
    margin-top: 20px;
    /* 上部からの余白 */
}

.mypage__rating-form .mypage-content_title {
    font-size: 20px;
    /* タイトルのフォントサイズ */
    margin-bottom: 10px;
    /* タイトル下の余白 */
}

.mypage__rating-form form {
    max-width: 600px;
    /* フォームの最大幅 */
    margin: auto;
    /* 中央揃え */
}

.mypage__rating-form .form-group {
    margin-bottom: 20px;
    /* フォームグループ間の余白 */
}

.mypage__rating-form label {
    display: block;
    /* ラベルをブロック要素として表示 */
    font-weight: bold;
    /* フォントの太さ */
    margin-bottom: 5px;
    /* ラベル下の余白 */
}

.mypage__rating-form input[type="number"],
.mypage__rating-form textarea,
.mypage__rating-form select {
    width: 100%;
    /* 入力欄の幅を100%に */
    padding: 10px;
    /* 入力欄のパディング */
    border: 1px solid #ccc;
    /* 入力欄の境界線 */
    border-radius: 5px;
    /* 入力欄の角丸 */
}

.mypage__rating-form button {
    padding: 10px 20px;
    /* ボタンのパディング */
    background-color: #007bff;
    /* ボタンの背景色 */
    color: #fff;
    /* ボタンのテキスト色 */
    border: none;
    /* ボタンの境界線 */
    border-radius: 5px;
    /* ボタンの角丸 */
    cursor: pointer;
    /* カーソルをポインターに */
}

.mypage__rating-form button:hover {
    background-color: #0056b3;
    /* ホバー時の背景色 */
}

.rating__error-message{
    color: red;
    font-weight: bold;
    padding: 5px;
    width: 50%;
    margin: 0;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .mypage__reservation-status th,
    .mypage__reservation-status td {
        padding: 5px 0;
        font-size: 11px;
    }

    .mypage__reservation-status td {
        text-align: right;
    }

    .modal-content {
        padding: 20px 5px 20px 15px;
        width: 100%;
    }

    .mypage__container {
        padding: 0 10px;
    }

    .reservation-item {
        padding: 5px 1px;
        font-size: 9px;
    }

    .mypage__favorite-shop__name {
        font-size: 15px;
    }

    .mypage__favorite-shop__content {
        padding: 5px;
    }

    .mypage__favorite-shop__detail-link{
        font-size: 9px;
        padding: 3px 3px;
    }

    .shop-container__favorite-button--red {
        font-size: 1em;
    }

    .mypage__favorite-shop__tag{
        font-size: 8px;
    }

    .close {
        top: -45px;
    }

    .status-message {
        padding: 3px;
    }
}

@media screen and (max-width: 480px) {
    .mypage__reservation-status th,
    .mypage__reservation-status td {
        padding: 2px 0;
        font-size: 6px;
    }

    .mypage__rating-form .mypage-content_title {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .mypage__rating-form input[type="number"],
    .mypage__rating-form textarea,
    .mypage__rating-form select {
        padding: 5px;
        font-size: 7px;
    }

    .mypage__rating-form button {
        font-size: 8px;
    }

    .mypage__container {
        padding: 0 1px;
    }

    .btn-primary{
        font-size: 7px;
    }

    .mypage__favorite-shop__name {
        font-size: 10px;
    }

    .mypage__favorite-shop__tag{
        font-size: 5px;
    }

    .mypage__favorite-shop__detail-link{
        font-size: 5px;
    }

    .mypage__favorite-shop__wrapper {
        gap: 2px;
    }

    .mypage__heading {
        font-size: 18px;
    }

    .mypage-content__title {
        font-size: 13px;
    }

    .close {
        font-size: 13px;
        top: -50px;
    }

    .btn-danger{
        font-size: 10px;
    }

    .rating__error-message{
        font-size: 10px;
    }

    .status-message {
        top: 120px;
        padding: 2px;
        font-size: 10px;
    }
}